
        <footer>
            <div class="main-wrapper">
                <p class="offer">
                    Представленная информация не является публичной офертой
                </p>
            </div>
        </footer>

        <script src="jscripts/jquery.min.js"></script>
        <script src="jscripts/jquery.bxslider.min.js"></script>
        <script src="jscripts/jquery.waypoints.min.js"></script>
        <script src="jscripts/ion.rangeSlider.min.js"></script>
        <script src="jscripts/jquery.tablesorter.min.js"></script>
        <script src="jscripts/jquery.tablesorter.widgets.min.js"></script>
        <script src="jscripts/jquery.panzoom.min.js"></script>
        <script src="jscripts/panzoom.js"></script>

        <script src="jscripts/jquery.fancybox.pack.js"></script>
        <script src="jscripts/jquery.fancybox-buttons.js"></script>
        <script src="jscripts/jquery.touchSwipe.min.js"></script>

        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.js"></script>

      <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.js"></script>

      <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-buttons.js"></script> -->

        <script src="jscripts/script.js"></script>

    </body>
</html>
